In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
d = pd.read_csv('catsup.txt', delimiter=' ')

In [4]:
d.head()

,id,disp.heinz41,disp.heinz32,disp.heinz28,disp.hunts32,feat.heinz41,feat.heinz32,feat.heinz28,feat.hunts32,price.heinz41,price.heinz32,price.heinz28,price.hunts32,choice
1,1,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.4,heinz28
2,1,0,0,0,0,0,0,0,0,4.6,4.3,5.2,4.4,heinz28
3,1,0,0,0,0,0,1,0,0,4.6,2.5,4.6,4.8,heinz28
4,1,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.4,heinz28
5,1,0,0,0,0,0,0,1,0,4.6,3.0,4.6,4.8,heinz28

In [5]:
d['choice'].value_counts()

heinz32    1458
heinz28     851
hunts32     307
heinz41     182
Name: choice, dtype: int64

In [6]:
d['id'].value_counts()

160    44
277    40
107    28
257    28
27     26
294    24
211    23
94     22
168    22
15     22
180    22
127    22
51     22
185    21
112    21
162    20
3      20
244    20
249    19
192    18
124    18
64     18
269    17
199    17
245    17
36     16
263    16
115    16
187    15
189    15
       ..
83      5
81      5
174     5
75      5
73      5
136     5
134     5
182     5
121     5
67      5
126     5
188     5
133     5
194     5
222     5
149     5
198     5
41      5
104     5
165     5
167     5
96      5
208     5
212     5
214     5
191     5
84      5
207     5
74      5
117     5
Name: id, Length: 300, dtype: int64

In [7]:
d['choice'] = d['choice'].map({'heinz41': 0, 'heinz32': 1, 'heinz28':2, 'hunts32':3})
d.head()

,id,disp.heinz41,disp.heinz32,disp.heinz28,disp.hunts32,feat.heinz41,feat.heinz32,feat.heinz28,feat.hunts32,price.heinz41,price.heinz32,price.heinz28,price.hunts32,choice
1,1,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.4,2
2,1,0,0,0,0,0,0,0,0,4.6,4.3,5.2,4.4,2
3,1,0,0,0,0,0,1,0,0,4.6,2.5,4.6,4.8,2
4,1,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.4,2
5,1,0,0,0,0,0,0,1,0,4.6,3.0,4.6,4.8,2

In [16]:
d_np = d.values

In [23]:
np.save('data.npy', d_np)